/node_modules/
/.git/
/**/_backstage
/**/package-lock.json
/**/Thumbs.db
/**/*.DS_Store
../.idea
../node_modules
../single-product-layout/node_modules
../single-product-layout/yarn.lock
./node_modules
./yarn.lock