.btn-white{
    background-color: $white;
    @include center;
    color: $black-bright;
    font-family: $font;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: background-color $t;
    &:hover{
        background-color: rgba($white, .8);
        transition: background-color $t;
    }
}
.btn-black{
    background-color: $black;
    @include center;
    color: $white;
    font-family: $font;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: background-color $t;
    &:hover{
        background-color: rgba($black, .8);
        transition: background-color $t;
    }
}
